#share {
    display: flex;
    padding: 60px 120px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    background: #FBFDFF;
}

#share .share {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

#share .share-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    align-self: stretch;
 }

#share .share-box p {
    color: #000;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
 }

#share .share-box .links {
    display: flex;
    align-items: flex-start;
    gap: 10px;
 }

 #share .share .share-box .links a svg {
    width: 68px;
    height: 68px;
 }

/*------POST-----*/
#post-a {
    display: flex;
    padding: 60px 120px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

#post-b {
    padding: 60px 120px;
    gap: 10px;
    align-self: stretch;
}


#post-a .img-container {
    width: auto;
}

#post-a .img-container .img {
    width: 100%;
    height: 100%;
}

#post-a .img img {
    width: 100%;
}


/*-------EXCO-------*/
#exco-a {
    display: flex;
    padding: 60px 120px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    background: #FBFDFF;
}



#exco-a .img img {
    width: 100%;
    align-self: stretch;
    border-radius: 10px;
    background: lightgray 50% / cover no-repeat;
}

#exco-b {
    padding: 60px 120px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    background: #FBFDFF;
}

#exco-b p {
    margin-bottom: 85px;
}

#exco-b b {
    font-weight: 700;
}


/*------EXECUTIVES------*/
#exe {
    display: flex;
    padding: 60px 120px;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    align-self: stretch;
}

#exe .staffs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

#exe .staffs .flex {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
    align-self: stretch;
    flex-wrap: wrap;
}

#exe .staffs .flex .flex-container {
    display: flex;
    width: 285px;
    min-width: 280px;
    padding-bottom: 0px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    background: #EDF5FF;
}

#exe .staffs .flex .flex-container .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    flex: 1 0 0;
}
#exe .staffs .flex .flex-container .content .context {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    align-self: stretch;
}
#exe .staffs .flex .flex-container .content .context svg {
    width: 24px;
    height: 24px;
}

#exe .staffs .flex .flex-container .content .img {
    display: flex;
    width: 286px;
    height: 286px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10%;
    background-color: #fff;
}
#exe .staffs .flex .flex-container .content .context .sub-title {
    color: #000;
    text-align: center;
    font-family: Lato;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#exe .staffs .flex .flex-container .content .img {
    display: flex;
    width: 286px;
    height: 286px;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
}

#exe .staffs .flex .flex-container .content .img img {
    background:lightgray -9.76px -3.753px / 106.825% 101.312% no-repeat;
    flex: 1 0 0;
    align-self: stretch;
}

#exe .staffs .flex .flex-container .content .context a {
    margin-bottom: 10px;
}







#exe .students {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

#exe .students .flex {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
    align-self: stretch;
    flex-wrap: wrap;
}

#exe .students .flex .flex-container {
    display: flex;
    width: 285px;
    min-width: 280px;
    padding-bottom: 0px;
    align-items: flex-start;
    gap: 10px;
    background: #EDF5FF;
}

#exe .students .flex .flex-container .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    flex: 1 0 0;
}

#exe .students .flex .flex-container .content .context {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    align-self: stretch;
}
#exe .students .flex .flex-container .content .context svg {
    width: 24px;
    height: 24px;
}


#exe .students .flex .flex-container .content .img img {
    background:lightgray -9.76px -3.753px / 106.825% 101.312% no-repeat;
    flex: 1 0 0;
    align-self: stretch;
}

#exe .students .flex .flex-container .content .context a {
    margin-bottom: 10px;
}

#exe .context h4 {
    text-align: center;
    align-self: stretch;
    line-height: normal;
    color: #000;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#exe .context p{
    text-align: center;
    line-height: normal;
    align-self: stretch;
}


/*------CONSTITUTION----------*/

#con {
    display: flex;
    padding: 60px 120px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

#con .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

#con p {
    margin-bottom: 38px;
}

#con b {
    font-weight: 700;
}


/*--------------------------LOG IN PAGE-----------------------------------*/
#login {
    display: flex;
    height: 100vh;
    padding: 387px 125px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    background: #03045E;
}
#login .login-a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    align-self: stretch;
}
#login .login-a .login-a-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch; 
}
#login .login-a .login-a-content h2 {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
#login .login-a .login-a-content p {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
}
#login .login-a a {
    display: flex;
    padding: 18px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px 0px;
    border: 1px solid #FFF;
    color: #EDF5FF;
}

#login .login-a a:hover {
    color: #03045E;
    background-color: #FFF;
}

/*--------------------------SIGN IN PAGE-----------------------------------*/
#signin {
    display: flex;
    padding: 200px 161px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex: 1 0 0;
    background: #EDF5FF;
}
#signin .signin-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 76px;
}
#signin .signin-form p {
    color: #03045E;
    text-align: center;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
#signin .signin-form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 65px;
    align-self: stretch;
}
#signin .signin-form div form {
    display: flex;
    width: 510px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}
#signin .signin-form div form .field {
    position: relative;
}
#signin .signin-form div form .field svg {
    position: absolute;
    left: 0;
    top: 0px;
    margin: 25px 18px;
}
#signin .signin-form div form .field input[type=email],
#signin .signin-form div form .field input[type=password] {
    display: flex;
    padding: 20px 120px 20px 50px;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.10);
    border:none;
}

#signin .signin-form div form input[type=email]:focus, 
#signin .signin-form div form input[type=password]:focus {
    background-color: white; 
    outline: #03045E; 
    border: 3px solid #03045E;
}
#signin .signin-form div a {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


#signin .signin-form .a {
    display: flex;
    padding: 18px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px 0px;
    background: #03045E;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

/*--------------------ADIM PAGE---------------*/
#admin {
    display: flex;
    padding: 276px 465px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background: #EDF5FF;
}
#admin .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 120px;
    align-self: stretch;
}
#admin .container .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

#admin .container .content a {
    display: flex;
    padding: 20px 184px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.10);
    color: #000;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#admin .container .content a:hover {
    background-color: #03045E;
    color: #FFF;
}

#admin .container .log-out {
    display: flex;
    padding: 20px 184px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid #03045E;
    color: #03045E;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#admin .container .log-out:hover {
 background-color: #FFF;
 border: 1px solid #fff;
}





/*--------------------UPLOAD---------------*/ 
#upload {
    display: flex;
    padding: 146px 120px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
#upload .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 84px;
    align-self: stretch;
}

#upload .container h2 {
    color: #000;
    text-align: center;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#upload .container .content {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 50px;
    align-self: stretch;
    flex-wrap: wrap;
}

#drop-area {
    display: flex;
    padding: 30px;
    width: 590px;
    height: 590px;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 2px dashed #4a4a4a;
}

#img-view {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
    background-position: center;
    background-size: cover;
}
#img-view div {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#upload .container form {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 50px;
    align-self: stretch;
    flex-wrap: wrap;
}
#upload .container form .context {
 display: flex;
 flex-direction: column;
 gap: 30px;
}

#upload .container form input[type=text], 
#upload .container form textarea {
    display: flex;
    width: auto;
    padding: 20px 140px 20px 10px;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    border-radius: 10px;
    background: #FafaFa;
    border:none;
}

#upload .container form textarea {
    height: 200px;
    padding: 20px 10px 20px 10px;
    width: 400px;
}

#upload .containerS form input[type=text]:focus
#upload .container form textarea:focus {
    background-color: white; 
    outline: #03045E; 
    border: 3px solid #03045E;
}

.button {
    display: flex;
    align-items: flex-start;
    gap: 14px;
}

.button input[type=submit] {
    display: flex;
    padding: 12px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px 0px;
    background: #03045E;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
}

.button input[type=reset] {
    display: flex;
    padding: 12px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px 0px;
    background: #ffff;
    color: #4a4a4a;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
}
