#share {
    display: flex;
    padding: 60px 120px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    background: #FBFDFF;
}

#share .share {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

#share .share-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    align-self: stretch;
 }

#share .share-box p {
    color: #000;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
 }

#share .share-box .links {
    display: flex;
    align-items: flex-start;
    gap: 10px;
 }

 #share .share .share-box .links a svg {
    width: 68px;
    height: 68px;
 }

/*------POST-----*/
#post-a {
    display: flex;
    padding: 60px 120px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

#post-b {
    padding: 60px 120px;
    gap: 10px;
    align-self: stretch;
}


#post-a .img-container {
    width: auto;
}

#post-a .img-container .img {
    width: 100%;
    height: 100%;
}

#post-a .img img {
    width: 100%;
}


/*-------EXCO-------*/
#exco-a {
    display: flex;
    padding: 60px 120px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    background: #FBFDFF;
}



#exco-a .img img {
    width: 100%;
    align-self: stretch;
    border-radius: 10px;
    background: lightgray 50% / cover no-repeat;
}

#exco-b {
    padding: 60px 120px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    background: #FBFDFF;
}

#exco-b p {
    margin-bottom: 85px;
}

#exco-b b {
    font-weight: 700;
}


/*------EXECUTIVES------*/
#exe {
    display: flex;
    padding: 60px 120px;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    align-self: stretch;
}

#exe .staffs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

#exe .staffs .flex {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
    align-self: stretch;
    flex-wrap: wrap;
}

#exe .staffs .flex .flex-container {
    display: flex;
    width: 285px;
    min-width: 280px;
    padding-bottom: 0px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    background: #EDF5FF;
}

#exe .staffs .flex .flex-container .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    flex: 1 0 0;
}
#exe .staffs .flex .flex-container .content .context {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    align-self: stretch;
}
#exe .staffs .flex .flex-container .content .context svg {
    width: 24px;
    height: 24px;
}

#exe .staffs .flex .flex-container .content .img {
    display: flex;
    width: 286px;
    height: 286px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10%;
    background-color: #fff;
}
#exe .staffs .flex .flex-container .content .context .sub-title {
    color: #000;
    text-align: center;
    font-family: Lato;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#exe .staffs .flex .flex-container .content .img {
    display: flex;
    width: 286px;
    height: 286px;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
}

#exe .staffs .flex .flex-container .content .img img {
    background:lightgray -9.76px -3.753px / 106.825% 101.312% no-repeat;
    flex: 1 0 0;
    align-self: stretch;
}

#exe .staffs .flex .flex-container .content .context a {
    margin-bottom: 10px;
}







#exe .students {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

#exe .students .flex {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
    align-self: stretch;
    flex-wrap: wrap;
}

#exe .students .flex .flex-container {
    display: flex;
    width: 285px;
    min-width: 280px;
    padding-bottom: 0px;
    align-items: flex-start;
    gap: 10px;
    background: #EDF5FF;
}

#exe .students .flex .flex-container .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    flex: 1 0 0;
}

#exe .students .flex .flex-container .content .context {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    align-self: stretch;
}
#exe .students .flex .flex-container .content .context svg {
    width: 24px;
    height: 24px;
}


#exe .students .flex .flex-container .content .img img {
    background:lightgray -9.76px -3.753px / 106.825% 101.312% no-repeat;
    flex: 1 0 0;
    align-self: stretch;
}

#exe .students .flex .flex-container .content .context a {
    margin-bottom: 10px;
}

#exe .context h4 {
    text-align: center;
    align-self: stretch;
    line-height: normal;
    color: #000;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#exe .context p{
    text-align: center;
    line-height: normal;
    align-self: stretch;
}


/*------CONSTITUTION----------*/

#con {
    display: flex;
    padding: 60px 120px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

#con .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

#con p {
    margin-bottom: 38px;
}

#con b {
    font-weight: 700;
}


/*------------GALLERY-------------*/
#gal {
    display: flex;
    padding: 60px 117px 60px 120px;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    align-self: stretch;
}

#gal .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

#gal .content h3 {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: -10px;
}

#gal .content h3 a {
    color: #000;
}

#gal .content h3 a:hover {
    color: #1c146a;
    text-decoration: none;
}

#gal .content .grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    width: 100%;
    position: relative;
}

#gal .content .grid-container .grid {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
    align-self: stretch;
    flex-wrap: wrap;
}

#gal .content .grid-container .grid .grid-content {
    display: flex;
    height: 213px;
    justify-content: flex-end;
    align-items: center;
    border: 2px solid #000;
    background: #E8E8E8;
}

#gal .content .grid-container .grid .grid-content img {
    width: 300px;
    height: 213px;
}

#gal .content .grid-container .arrow {
    display: flex;
    width: 103%;
    justify-content: space-between;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

#gal .content .grid-container .arrow .prev,  
#gal .content .grid-container .arrow .next {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    fill: #FFF;
    stroke-width: 1px;
    stroke: #000;
}

#gal .content .grid-container .grid .grid-content {
    display: none; /* Hide all grid content by default */
  }

  #gal .content .grid-container .grid .grid-content.active {
    display: block; /* Display only the active slide */
  }

  /* Styles for arrow buttons (you can customize further) */
  #gal .content .grid-container .arrow .prev,
  #gal .content .grid-container .arrow .next {
    cursor: pointer;
    font-size: 24px;
    margin: 0 10px;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 20;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .modal-content {
    margin: auto;
    display: block;
    margin-top: 30px;
    max-width: 95%;
    max-height: 90%;
  }
  
  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #FFF;
    cursor: pointer;
    background-color: white;
    z-index: 11;
  }

































