/* CSS FOR MOBILE PHONES */


@media (max-width: 1024px)
{
  .hide {
    display: none;
  }
  

  
  body .header {
    padding: 110px 20px 30px 20px;
  }
  body .header h1 {
  font-size: 20px;
  }

  body .header .download {
    padding: 6px;
    align-items: center;
  }

 /*---Header ----------*/
 #header {
  padding: 180px 22px;
  }

/*main nav bar/main-pic */
#main-nav {
  padding: 1px 10px;
}

#main-nav .navbar-content h1 {
    font-size: 16px;
    line-height: 16px; 
    width: 156px;
    flex-shrink: 0;
    margin-top: 5px;
}   
#main-nav .navbar-content p {
  font-size: 16px;
  line-height: 16px;
  width: 60px;
  flex-shrink: 0;
  margin-top: 18px
}
#main-nav ul li a {
  padding: 0.2rem;
}
  
  /*------HOME E-----*/
  #home-e .content .context {
    padding-bottom: 30px;
    gap: 8px;
  }
  /*------HOME F-----*/
  #home-f {
    padding: 48px 30px;
   }

  /*-----FOOTER-----*/
  #footer .footer-grid .footer-grid3 form .form input[type=text],
  #footer .footer-grid .footer-grid3 form .form textarea {
    padding: 8px 54px 8px 10px;
  }
}


@media (max-width: 768px)
{
  /*--------RESOURCES------*/
  .menu-wrap .menu > div > div > ul > li .collapse {
    display:inline;
    display: block;
    display: inline-block;
  }
 
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 20px;
  }
  .sub-title, h3 {
    font-size: 16px;
  }
  .body-text, h4 {
    font-size: 14px;
  }
  .link-text {
    font-size: 12px;
  }

  /*-----EXTERNAL RESOURCES------*/
  #share .share-box p {
    font-size: 14px;
    line-height: 0%;
  }
  #share .share .share-box .links a svg {
    width: 24px;
    height: 24px;
  }

  /*-----HEADER------*/
  #header {
    padding: 180px 22px;
  }
  

 /* Navigation */
  .menu-wrap {
    position: absolute;
    top: 30%;
    right: 20px;
    z-index: -1 !important;
  }

  #main-nav {
    padding: 2px 20px;
    width: 100vw;
    z-index: 2 !important;
  }
  #main-nav .navbar-content .icon {
    width: 32px;
    height: 29.498px;
    background: #fff 50% / cover no-repeat;
    margin-bottom: 12px;
}
#main-nav .navbar-content h1 {
  font-size: 13px;
  line-height: 16px;
  width: 130px;
}
#main-nav .navbar-content p {
  font-size: 14px;
  line-height: 16px;
  width: 67px;
}

#main-nav .navbar-content svg {
  width: 2px;
  height: 30px;
}
 
#main-nav ul li a {
  padding: 0.7rem;
}
  #main-nav .menu-wrap input {
    visibility: visible;
  }

  .menu-wrap .toggler {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2 !important;
    cursor: pointer;
    width: 30px;
    height: 25px;
    opacity: 0;
  }

  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 40px;
    height: 35px;
    padding: 0.5rem;
    /* background: var(--secondary-color); */
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }

  /* Hamburger Line */
  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 3px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }

  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 3px;
    background: inherit;
  }

  /* Moves third line down */
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }

  /* Toggler Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }

  /* Turns Lines into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
    z-index: 2 !important;
  }

  /* Rotate on hover when checked */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }

  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }

  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }

  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
  }

  .menu-wrap .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  #main-nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #main-nav ul li svg {
    display: block;
  }

  .menu-wrap .menu > div {
    background: #FBFDFF;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    transform: scale(0);
    transition: all 0.4s ease;
  }

  .menu-wrap .menu > div > div {
    text-align:center;
    max-width: 90vw;
    max-height: 100vh;
    width: 100vw;
    opacity: 0;
    transition: opacity 0.4s ease;
    margin-top: 4rem;
  }
  .menu-wrap .menu > div > div > ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-self: stretch;
    width: 100vw;
  }
  .menu-wrap .menu > div > div > ul > li {
    font-size: 2.2rem;
    display: flex;
    padding: 20px 0px;
    align-self: stretch;
  }

  .menu-wrap .menu > div > div > ul > li a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    width: 100%;
  }
  .menu-wrap .menu > div > div > ul > li > span {
    width: 94.5%;
  }
  .menu-wrap .menu > div > div > ul > li > span a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    width: 100%;
  }

/*----------------------------------------------------------------------------------------------------------------------------*/


     /*---------HOME A--------*/
  #home-a .mvogrid .mvo .mvocontent .text p {
      font-size: 14px;
  }
  #home-a .mvogrid .mvo .mvocontent .text h4 {
    font-size: 23px;
  }
  #home-a .mvogrid .mvo {
    padding: 20px;
  }


  /*---------HOME B--------*/
  #home-b {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    height: 70vh;
  }

  #home-b .home-b-flex .content {
    display: flex;
    width: 164px;
    justify-content: center;
    align-items: center;
    gap: 8px;
   }
  #home-b .home-b-flex .content .svg1,
  #home-b .home-b-flex .content .svg2,
  #home-b .home-b-flex .content .svg3,
  #home-b .home-b-flex .content .svg4 {
    width: 48px;
    height: 48px;
  }
  #home-b .home-b-flex .content .context h3{
    font-size: 28px;
    margin-bottom: 0;
  }
  #home-b .home-b-flex .content .context p {
    font-size: 20px;
    margin-bottom: 0;
  }

  
  /*---------HOME C--------*/
  #home-c {
    padding: 48px 0px;
  }
  #home-c .frame {
    gap: 24px;
  }
  #home-c .frame h3 {
    font-size: 20px;
    height: 29px;
  }
  #home-c .frame .exe-grid  {
    padding: 0px 20px;
  }
  #home-c .frame .exe-grid .content {
    width: 300px;
  }
  #home-c .frame .exe-grid .content .div .imgdiv {
    width: 300px;
    height: 300px;
  }
  #home-c .frame .exe-grid .content .div .context h4 {
    font-size: 20px;
  }
  #home-c .frame .exe-grid .content .div .context p {
    font-size: 16px;
  }
  #home-c .frame .see-more {
    padding: 20px 14px;
    width: 44px;
    height: 40px;
    margin-top: 0px;
  }
  #home-c .frame .see-more .svg {
    width: 16px;
  }


/*---------HOME D--------*/
  #home-d {
    padding: 48px 20px;
  }
  #home-d .wse h2 {
    font-size: 20px;
  }
  #home-d .wse .wse-grid .wse-grid-flex .wse-grid-container {
    padding: 20px;
    gap: 10px;
  }
  #home-d .wse .wse-grid .wse-grid-flex .wse-grid-container .wse-grid-content {
    gap: 5px;
  }
  #home-d .wse .wse-grid .wse-grid-flex .wse-grid-container .wse-grid-content .svg {
    width: 40px;
    height: 40px;
    margin: 0
  }

  #home-d .wse .wse-grid .wse-grid-flex .wse-grid-container .wse-grid-content .text h3 {
    font-size: 16px;
    margin: 0;
  }
  #home-d .wse .wse-grid .wse-grid-flex .wse-grid-container .wse-grid-content .text .body-text {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
  }

   /*---------HOME E--------*/
   #home-e {
    display: flex;
    padding: 48px 20px;
  }

  #home-e .content {
    gap: 5px; 
  }
  #home-e .content .context {
    gap: 2px;
    padding-bottom: 0;
  }
  #home-e .content .context h2 {
    font-size: 20px;
  }
  #home-e .content .context .body-text {
    font-size: 14px;
    margin-bottom: 2px;
   }
  #home-e .content .view {
     padding: 18px 40px;
     margin-top: 0px;
     height: 47px;
     font-size: 12px;
   }


  /*------HOME F-----*/
  #home-f {
    padding: 48px 20px;
   }
   #home-f .u-e {
    gap: 24px;
   }
   #home-f .u-e h2 {
    font-size: 20px;
   }
   #home-f .u-e .u-e-grid {
    gap: 21px;
   }
   #home-f .u-e .u-e-grid .img {
    width: 300px;
    height: 225px;
    margin-bottom: 0;
   }
   #home-f .u-e .u-e-grid .img img {
    width: 100%;
    height: 100%;
   }
   #home-f .u-e .u-e-grid .content {
    gap: 10px;
    width: 300px;
    align-items: center;
   }
   #home-f .u-e .u-e-grid .content .context {
    align-items: center;
    gap: 8px;
   }
   #home-f .u-e .u-e-grid .content .context h3 {
    font-size: 16px;
    margin-top: 0;
   }
   #home-f .u-e .see-more {
    padding: 20px 14px;
    width: 44px;
    height: 40px;
   }
   #home-f .u-e .see-more .svg {
    width: 16px;
   }


    /*------------HOME G--------*/
    #home-g {
      padding: 32px 20px;
      gap: 10px;
    }
    #home-g .orp {
      gap: 20px;
    }
    #home-g .orp h2 {
      font-size: 24px;
    }
    #home-g .orp .orp-post .post {
      width: 300px;
      gap: 20px;
      padding-bottom: 0px;
      margin-top: 0px;
    }
    #home-g .orp .orp-post .post img {
      width: 100%;
      height: 225px;
    }
    #home-g .orp .orp-post .post .context h3 span {
      display:contents;
    }
    #home-g .orp .orp-post .post .context h3 {
      font-size: 20px;
      line-height: normal;
    }
    #home-g .orp .orp-post .post .context a {
      padding: 10px 20px;
      width: 110px;
      height: 37px;
      align-items: center;
      gap: 4px;
      font-size: 14px;
      line-height: normal;
      align-items: center;
      margin: 15px 0px;

    }
    #home-g .orp .orp-post .post .context a p {
      font-size: 14px;
      line-height: normal;
      align-items: center;
    }
    #home-g .orp .more {
      padding: 20px 14px;
      width: 44px;
      height: 40px;
    }
    #home-g .orp .more .svg {
      width: 16px;
    }

  /*-------------------ABOUT-------------------------------------------------------------------*/
  #about .about-container .paragraph {
    font-size: 14px;
    line-height: 24px;
  }
  #about .about-container .content ul li {
    font-size: 14px;
    line-height: 24px;
  }
  #about .about-container .hide {
    display: none;
  }
  #about .about-container .collapse {
      display: block;
  }
    /*-----------------------EVE-BLOG---------------------------------------------*/
  #eve-blog {
    padding: 30px 20px;
    width: 90vw;
  }
  #eve-blog .eve-blog-a h2 {
    font-size: 20px;
    font-weight: 500;
  }
  #eve-blog .eve-blog-a .container {
    padding: 0px;
  }
  #eve-blog .eve-blog-a .container .img-container {
    width: 85vw;
    margin-bottom: -10px;
  }
  #eve-blog .eve-blog-a .container .content {
    width: 85vw;
  }
  #eve-blog .eve-blog-a .container .content .anchor {
    width: 111px;
    height: 37px;
    padding: 10px;
    align-items: center;
    gap: 2px;
    font-size: 14px;
  }
  #eve-blog .eve-blog-a .container .content .context {
    width: 85vw;
    gap: 0.3px;
  }
  #eve-blog .eve-blog-a .container .content .context h3 {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }

  #eve-blog .eve-blog-a .container .content .context p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  #eve-blog .eve-blog-a .container .content .context svg {
    width: 48px;
    height: 48px;
    margin: 15px 0px;
}
  #eve-blog .eve-blog-b h2 {
    font-size: 20px;
  }
  #eve-blog .eve-blog-b .container .content .context h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
  }
  #eve-blog .eve-blog-b .container .content .context p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0px;
  }
  #eve-blog .eve-blog-b .container .content .context svg {
    width: 48px;
    height: 48px;
    margin: 15px 0px;
}
  #eve-blog .eve-blog-b .container {
    padding: 0px;
  }
  #eve-blog .eve-blog-b .container .content {
    width: 45vw;
  }
  #eve-blog .eve-blog-b .container .content .img {
    width: 100%;
  }
  #eve-blog .eve-blog-b .container .content .anchor {
    width: 111px;
    height: 37px;
    font-size: 14px;
    padding: 10px;
  }

    /*-----------------------POST---------------------*/
    #post-a {
      width: 97vw;
      padding: 20px;
    }
    #post-a .img-container {
      width: 100vw;
      height: auto;
  }
  #post-b p {
    font-size: 14px;
    line-height: 24px;
  }

    /*-----------------------CONSTITUTION---------------------*/
  #con {
    padding: 30px 20px;
  }
  
  #con p {
    font-size: 14;
    line-height: 32px;
  }


  /*------EXECUTIVES------*/
  #exe {
    padding: 30px 20px;
    gap: 30px;
  }
  #exe .staffs .flex {
    padding: 0px 0px;
    gap: 10px;
  }
  
  #exe .staffs h2 {
    font-size: 20px;
  }
  #exe .staffs .flex .flex-container .content .context svg {
    width: 24px;
    height: 24px;
  }
  #exe .staffs .flex .flex-container .content .context .sub-title {
    font-size: 26px;
    font-weight: 500;
    line-height: normal;
  }

  #exe .staffs .flex .flex-container .content .context .body-text {
    font-size: 16px;
  }

  #exe .students h2 {
    font-size: 20px;
  }

  #exe .students .flex .flex-container .content .context .sub-title {
    font-size: 26px;
    font-weight: 500;
    line-height: normal;
  }

  #exe .students .flex .flex-container .content .context .body-text {
    font-size: 14px;
  }
  #exe .students .flex .flex-container .content .context svg {
    width: 24px;
    height: 24px;
  }
    /*-----------------------EXCO----------------------*/
  #exco-a {
    padding: 20px;
  }
  #exco-b {
    padding: 30px 20px;
  }
  #exco-b p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 50px;
  }


   /*-----------------------LOGIN----------------------*/
   
   #login {
    padding: 120px 20px;


/*---------------SIGN IN-----------*/
#welcome {
  display: flex;
  padding: 90px 55px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: #03045E;
 }
 #welcome p {
  font-size: 32px;
  color: #FBFDFF;
 }

 #signin .signin-form p {
  font-size: 32px;
}

  #signin {
    display: flex;
    padding: 20px 60px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    align-self: stretch;
  }
  #signin .signin-form {
    gap: 20px;
  }
  #signin .signin-form div form {
    width: 90vw;
}








   /*-----------------------ADMIN------*/
   #admin {
    display: flex;
    height: 844px;
    padding: 230px 0px;
    align-items: flex-start;
    gap: 10px;
   }
  #admin .container  {
      display: flex;
      padding: 0px 20px;
      flex-direction: column;
      align-items: flex-start;
      gap: 84px;
      flex: 1 0 0;
      align-self: stretch;
  }
  #admin .container .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
  }
   #admin .container .content a {
    padding: 20px 80px;
   }
   #admin .container .log-out {
    padding: 20px 80px;
   }



/*--------------------UPLOAD---------------*/
#upload {
  padding: 60px 20px;
}
#upload .container {
  gap: 20px;
}
#upload .container h2 {
  font-size: 32px;
  margin-bottom: 0;
}
#drop-area {
  height: 350px;
}

#upload .container form {
  gap: 10px;
  width: 100%;
}
#upload .container form input[type=text], 
#upload .container form textarea {
  padding: 20px 20px 20px 20px;
  gap: 6px;
  width: 100%;
}
.button input[type=submit], .button input[type=reset] {
  padding: 8px 20px;
  font-size: 14px;
}

 /*-----------------------CONTACT---------------------------------------------*/
  #contact {
    padding: 30px 20px;
  }
  
  #contact .contact-a .info .flex {
    min-width: 100%;
  }
  #contact .contact-a .info .flex .info-box {
    width: 100%;
  }
  #contact .contact-a .info .flex .info-box .title p {
    font-size: 14px;
    margin-bottom: 0;
  }
  #contact .contact-a .info .flex .info-box p {
    font-size: 16px;
  }
  #contact .contact-a .info .flex .info-box .title svg {
    width: 24px;
    height: 24px;
  }
  #contact .contact-a .location iframe {
    margin-bottom: 12px;
  }
  #contact .contact-b {
    gap: 5px;
  }
  #contact .contact-b h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 12px;
  }

  #contact .contact-b form a {
    display: flex;
    padding: 15px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  } 

  /*-----------------------FOOTER----------------------*/
  #footer .footer-grid {
    gap: 30px;
  }
  #footer .footer-grid .footer-grid1 .footer-grid1-title {
    gap: 2px;
  }
  #footer .footer-grid .footer-grid1 .footer-grid1-title .footericon .img {
    width: 32px;
    height: 32px;
  }
  #footer .footer-grid .footer-grid1 .footer-grid1-title .footericon .img img {
    width: 30px;
    height: 28px;
  }
  #footer .footer-grid .footer-grid1 .footer-grid1-title h3 {
    font-size: 14px;
    line-height: 16px;
    width: 150px;
    height: 32px;
    margin-bottom: 0;
  }
  #footer .footer-grid .footer-grid1 .footer-grid1-title .svg {
    margin: 0 1px;
    margin-right: 2px;
  }
  #footer .footer-grid .footer-grid1 .footer-grid1-title .body-text {
    font-size: 14px;
    line-height: 16px;
    width: 67px;
    height: 32px;
  }
  #footer .footer-grid .footer-grid1 .body-text {
    font-size: 14px;
    line-height: 16px;
  }
  #footer .footer-grid .footer-grid2 h3 {
    font-size: 16px;
    line-height: normal;
  }
  #footer .footer-grid .footer-grid2 ul li span {
    font-size: 14px;
  }
  #footer .footer-grid .footer-grid2 ul {
    gap: -24px;
  }
  #footer .footer-grid .footer-grid2 ul li .svg {
    width: 12px;
    height: 12px;
  }
  #footer .footer-grid .footer-grid3 {
    grid: 5px;
  }
  #footer .footer-grid .footer-grid3 .footer-grid3-context h3 {
    font-size: 14px;
    line-height: normal;
  }
  #footer .footer-grid .footer-grid3 .footer-grid3-context p {
    font-size: 14px;
    line-height: normal;
  }
  #footer .footer-grid .footer-grid3 .footer-grid3-context {
    gap: 6px;
  }
  #footer .footer-grid .footer-grid3 form .form input[type=text],
  #footer .footer-grid .footer-grid3 form .form textarea {
    padding:8px 0px 8px 10px;
  }
  #footer .footer-grid .footer-grid3 .links a .svg {
    width: 24px;
    height: 24px;
  }
  
}

@media (max-width: 600px)
{


/*-----HEADER------*/
    #header {
      padding: 180px 22px;
    }
    #header .content .context h3,  #header .content .context span{
      font-size: 36px;
      line-height: normal;
    }
    #header .content .context .quotes .quote1 {
      font-size: 13px;
      line-height: 20px;
    }
    #header .content a {
      padding: 15px 40px;
    }

  /*=------HOME A--------*/
  #home-a {
    padding: 48px 20px;
  }

  #home-a .mvogrid .mvo {
    padding: 20px;
  }


  /*-----Home c------*/
  #home-c {
    padding: 48px 0px;
    gap: 10px;
  }
  #home-c .frame h3 {
    font-size: 30px;
  }

  #home-c .frame .exe-grid .content {
    padding-bottom: 15px;
  }



    /*-----Home D-----*/
  #home-d {
    padding: 48px 20px;
    gap: 10px;
  }
  #home-d .wse {
    gap: 24px;
  }
  #home-d .wse h3 {
    font-size: 30px;
  }
  #home-d .wse .wse-grid .wse-grid-flex .wse-grid-container {
    padding: 20px;
  }
  #home-d .wse .wse-grid .wse-grid-flex .wse-grid-container .wse-grid-content {
    gap: 8px;
  }


  /*---------HOME E--------*/
  #home-e {
    display: flex;
  padding: 48px 20px;
  }
  #home-e .content  {
    gap: 24px;
  }
  #home-e .content .context {
    gap: 8px;
  }
  #home-e .content .context h3 {
    font-size: 30px;
  }
  #home-e .content .context p {
    font-size: 14px;
    line-height: 16px;
  }

   /*---------HOME F--------*/
   #home-f {
    padding: 48px 30px;
   }
   #home-f .u-e h3 {
    font-size: 30px;
    line-height: normal;
   }
   #home-f .u-e .u-e-grid .content{
    padding: 2px 2px;
   }
   #home-f .u-e .u-e-grid .content .context {
    gap: 8px;
    align-items: center;
    height: 75px;
   }
   #home-f .u-e .u-e-grid .content .context h4 {
    text-align: center;
    font-size: 20px;
   }
   #home-f .u-e .u-e-grid .content .context p {
    text-align: center;
    font-size: 14px;
    line-height: 16px
   }


   /*---------HOME G--------*/
   #home-g {
    padding: 32px 20px;
   }
   #home-g .orp h3 {
    font-size: 30px;
    line-height: normal;
   }


  /*-----------ABOUT-----------*/
  #about {
    padding: 30px 20px;
  }
  #about .about-container .banner {
    padding: 53px 20px;
    background: url(../img/about_mobile.png), lightgray 50% / cover no-repeat, #EDF5FF;
  }
  #about .about-container .paragraph {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0.2rem;
  }
  #about .about-container .content p {
    font-size: 14px;
    line-height: 20px;
  }

  #about .about-container .content h3 {
    font-size: 22px;
    line-height: 20px;
  }
 

  /*-----------EVE-BLOG-----------*/
  #eve-blog {
    padding: 30px 20px;
    gap: 32px;
  }
  #eve-blog .eve-blog-a h2 {
    font-size: 20px;
  }
  #eve-blog .eve-blog-a .container .img {
    width: 100%;
    height: 262.5px;
    border-radius: 10px;
    background: lightgray 0px -136.121px / 100% 162% no-repeat;
  }
  #eve-blog .eve-blog-a .container .content {
    gap: 16px;
    margin-top: -2rem;
  }
  

  /*-------------CONTACT---------------*/
  #contact {
    padding: 30px 20px;
  }
  #contact .contact-a .img{
    height: 230px;
  }

  /*-----POST-----*/
  #post-a {
    padding: 20px;
  }
  #post-a .img {
    height: 450px;
  }
  #post-b {
    padding: 20px;
  }
  #share {
    padding: 20px;
  }

  /*-------CONSTITUTION-----------*/
  #con {
    padding: 30px 20px;
  }

   /*--------FOOTER--------*/
   #footer {
    padding: 60px 20px;
   }
   #footer .footer-grid {
    gap: 30px;
   }
   #footer .footer-grid .footer-grid1 {
    gap: 8px;
   }
   #footer .footer-grid .footer-grid1 .footer-grid1-title {
    width: 80%;
   }
   #footer .footer-grid .footer-grid1 .footer-grid1-title h1 {
    font-size: 18px;
    line-height: 20px;
   }
   #footer .footer-grid .footer-grid1 .footer-grid1-title p {
    font-size: 18px;
   }
   #footer .footer-grid .footer-grid3 {
    gap: 16px;
   }
   #footer .footer-grid .footer-grid3 .footer-grid3-context {
    gap: 5px;
   }
   #footer .footer-grid .footer-grid3 .footer-grid3-context h3 {
    line-height: normal;
   }
   #footer .footer-grid .footer-grid3 .footer-grid3-context p {
    line-height: normal;
   } 
   
}

@media (max-width: 450px) {
  /*-----HEADER CLASS-----*/
  .header {
    width: 100vw;
  }
  /*-----------EVE-BLOG-----------*/
  #eve-blog {
    padding: 30px 20px;
  }
}
@media (max-height: 500px)
{
  /*-----HEADER------*/
  #header {
    padding: 180px 22px;
  }

  /*-----FOOTER-----*/
  #footer .footer-grid .footer-grid3 form .form input[type=text],
  #footer .footer-grid .footer-grid3 form .form textarea {
  padding: 8px 0px 8px 10px;
}
}


@media (max-height: 320px)
{
  
    /*-----HEADER------*/
    #header {
      padding: 180px 22px;
    }

/*-----FOOTER-----*/
    #footer .footer-grid .footer-grid3 form .form input[type=text],
    #footer .footer-grid .footer-grid3 form .form textarea {
    padding: 8px 0px 8px 10px;
    }
}
}